<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team404.trackmyday">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.KEYGUARD_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_SERVICE" />



    <application
        android:name=".MultidexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Location" />
        <activity android:name=".AppUsage" />
        <activity android:name=".ContactInfo" />
        <activity android:name=".ReportOptionsActivity"/>
        <activity android:name=".GeneratedReport"/>

        <service
            android:name="com.amazonaws.mobileconnectors.s3.transferutility.TransferService"
            android:enabled="true" />

        <activity android:name=".AddActivity" />
        <activity android:name=".GoogleMapsApiLocator" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAcIBtDlguHncWPS52XHi6VXTDXHYIntSk" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Background"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".DeviceUptime"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
